@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import './assets/styles/materialize.min.css';
@import './assets/styles/material-icons.css';

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
h2 {
  margin-top: 20px;
}
p {
  font-size: 1.3rem;
  margin: 8px 0 8px 0;
}
.divider {
  margin: 20px 0;
}
a:not(.brand-logo) {
  color: #000 !important;
  border-bottom: 2px solid black;
  margin: 20px 10px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}
a:hover {
  padding-bottom: 2px;
}